{{!< default}}

{{> full-header }}

<main class="container left-container">
    <div class="row">

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <h1>404</h1>
            <p>Sorry, the item that you're looking for doesn't exist.</p>

        </div><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->

<footer class="single single-page">
    <div class="container">
        <div class="col-sm-12">
            <p>&copy; <time datetime="{{date format="YYYY"}}">{{date format="YYYY"}}</time> {{@blog.title}}</p>
        </div>
    </div>
</footer>